.input {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  .inputContainer {
    width: 100%;

    input {
      background: #ffffff !important;
      border: 1px solid #cbd1da;
      display: flex;
      border-radius: 5px;
      padding: 10px 15px;
      justify-content: center;
      outline: none;

      width: 100%;
      height: 100% !important;
      background-color: transparent;
      &:focus {
        border: 1px solid royalblue;
        border-bottom: 2px solid royalblue !important;
      }
    }
  }
  .error {
    font-weight: 500;
    font-size: 14px;
    color: rgb(251, 92, 92);
    margin-top: 5px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &.dark {
    .inputContainer {
      input {
        background: #cbd1da !important;
      }
    }
  }
}
