.button {
  &.btnBgcolor {
    background-color: royalblue;
    border: 2px solid royalblue;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    display: block;
    margin-top: 20px;
    color: white;
    transition: background-color 0.5s ease;

    &:disabled {
      background-color: rgb(196, 194, 194);
      cursor: not-allowed;
    }
  }
}
