.navLogo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  .logo {
    color: royalblue;
    font-weight: 900;
    font-size: 18px;
  }
  .img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
