.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e26;
  z-index: 9999;

  .spinner {
    border: 8px solid #f6f9fc;
    border-top: 8px solid royalblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes moveUpDown {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(10px);
//   }
// }
