.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  .navLeft {
    .img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
