@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-family: Poppins, sans-serif;
}

// LIGHT THEME COLORS

$light-bg-soft: #f6f9fc;
$light-bg-color: #fff;
$light-text-color: #4c536c;
$light-text-color-soft: #cbd1da;

$border: #d8dee8;

// DARK THEME COLORS
$dark-bg-soft: #1c1e26;
$dark-bg-color: #000;
$dark-text-color: #dbdeeb;
$dark-text-color-soft: #cbd1da;
$border: #d8dee8;

body {
  background-color: $light-bg-soft;
  color: $light-text-color;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.app {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

label {
  text-transform: capitalize;
  font-weight: 500;
}

button:disabled {
  background: #7c87a8;
}

.light {
  background: $light-bg-soft;
  color: $light-text-color;
}
.dark {
  background: $dark-bg-soft;
  color: $dark-text-color-soft;
}
